* {
    margin: 0;
    padding: 0;
}
/* font-family: 'Anton', sans-serif;
font-family: 'Antonio', sans-serif; */

/* header and navigation styles */
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}
.text-primary{
    color: #FD6E0A;
}
.primary-button{
    font-family: 'Antonio', sans-serif;
    padding: 18px 35px;
    color: #ffff;
    background-color:#FD6E0A ;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;

}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-left: 226px;
    padding-right: 230px;
}
.navbar-title {
    font-family: 'Anton', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
nav ul{
    display: flex;
    align-items: center;

}
nav li{
    font-family: 'Antonio', sans-serif;
    list-style: none;
    font-size: 20px;
    padding-left: 61px;
}
/* banner css */

.banner{
    padding-left: 226px;
    display: flex;
    align-items: center;
    gap: 170px;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    font-family: 'Antonio', sans-serif;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    font-family: 'Anton', sans-serif;
    color: #181818;
    padding: 5px 0px 20px 0px;
}
.banner-desc{
    font-size: 18px;
    font-family: 'Antonio', sans-serif;
    color: #757575;
    padding-bottom: 30px;
}
.contact-button{
    font-family: 'Antonio', sans-serif;
    margin-left: 30px;
    padding: 18px 35px;
    color: #ffff;
    /* background-color:#FD6E0A ; */
    border: 1px solid #FD6E0A ;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}

main{
    max-width: 1140px;
    margin: auto;
}

/* about section styles */

.about{
    margin: 130px 0px;
    padding: 131px 157px;
    background: #FFF8F3;    border-radius: 10px;
    text-align: center;

}
.section-title{
    padding-bottom: 30px;
    font-family: 'Antonio', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;   
}
.section-desc{
    color: #757575;
    font-size: 18px;
    font-family: 'Antonio', sans-serif;
    padding-bottom: 30px;
    text-align: center;
}

.info-container{
    display: flex;
    justify-content: space-around;

}
.about-info{
    margin-right: 5opx;
    font-size: 20px;
}
.info-title{
    font-family: 'Antonio', sans-serif;
    color: #757575;

}
.info-desc{
    font-family: 'Antonio', sans-serif;
    color: #474747;
    font-weight: 700;
}
/* what i do styles */

.skill-container{
    display: flex;
    gap: 24px;
    padding-top: 50px;
}
.skill{
    background: #f1f1f1;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding:30px 33px 30px 30px;
}
.skill-title{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Antonio', sans-serif;
}
.skill-desc{
    padding-top: 20px;
    font-family: 'Antonio', sans-serif;
}

/* resume styles */

.resume{
    padding-top: 170px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    padding-top: 83px;
    font-family: 'Antonio', sans-serif;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Antonio', sans-serif;
    padding-right: 35px;
}
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}
.resume .subtitle{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    padding-bottom: 20px;
}
.resume .desc{
    color: #757575;
}
.resume-button{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 113px;
}

/* contact form styles  */

.contact{
    padding: 130px 230px;
    display: flex;
    justify-content: space-around;
    background: rgb(196, 188, 188);
    gap: 117px;
}
.contact-title{
    font-weight: 700;
    font-size: 35px;
    font-family: 'Antonio', sans-serif;
    padding-bottom: 24px;
}
.contact-desc{
    font-family: 'Antonio', sans-serif;
    color: #474747;
    padding-bottom: 30px;
}
.contact a{
    text-decoration: none;
    margin-right: 10px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0px;
    padding: 18px 30px;
    display: block;
    width: 100%
}